@import "tailwindcss";

/* add outline red  */
/* *,
html,
body {
  outline: 1px solid red;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* A modern best practice for consistent sizing */
}

body {
  line-height: 1.5;
  min-height: 100vh; /* Optional: ensures body takes up full screen height */
}
